#### Exploring Data With Python (Cont)


#### Mathmatical Topics Covered

1.  Quantitative Data 
2.  Basic visualizations (Stem and Leaf displays, Histograms)
3.  Cross Tabulation - Mean, Median, Mode
4.  Standard Deviation
5.  Percentiles, Quartiles, Quintiles, Deciles 
6.  Plotting (Elementry box plot)
7.  IQR (interquartile range) - Box Plots (tradition/modified) - including upper/lower limits and outlier

#### Python Libraries

1. [numpy](https://numpy.org/)
2. [pandas](https://pandas.pydata.org/)
3. [matplotlib](https://matplotlib.org/)
4. [stemgraphic](http://stemgraphic.org/doc/intro.html)

In [1]:
# import libraries using standard abbreviations
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from stemgraphic.alpha import stem_graphic

print("Library Versions")
print("numpy version: {}".format(np.__version__))
print("pandas version: {}".format(pd.__version__))
print('matplotlib: {}'.format(mpl.__version__))

Library Versions
numpy version: 1.22.2
pandas version: 1.4.0
matplotlib: 3.5.1

### Loading Datasets

|Dataset|Remarks|
|-------|-------|
|Flight Data| Information about airline flight arrivals|and depatures

In [2]:
# Load Amtrak data set (csv file) into a pandas dataframe
flight_df = pd.read_csv (r'flight_data.csv')

flight_df.head(10)  #Take a quick peak at the information to amke sure it loaded.

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,1/1/2013 5:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,1/1/2013 5:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,1/1/2013 5:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,1/1/2013 5:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,1/1/2013 6:00
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,1/1/2013 5:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,1/1/2013 6:00
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,1/1/2013 6:00
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,1/1/2013 6:00
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,1/1/2013 6:00